@font-face {
    font-family: 'NeueMachina';
    src: url(./font/NeueMachina.ttf);
}

@font-face {
    font-family: 'NeueMachinaBold';
    src: url(./font/NeueMachinaBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: 0;
}

.tt {
    transform: rotate(90deg);
}

:root {
    --primary-color: rgb(44, 44, 211);
}

hr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.152);
}

h3 {
    font-size: 1em;
}

button {
    color: white;
    background-color: var(--primary-color);
    padding: 1em;
    font-family: 'NeueMachina';
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
    font-size: 2em;
    font-family: 'NeueMachinaBold';
}

.flex {
    display: flex;
    align-items: center;
}

p {
    color: rgba(0, 0, 0, 0.505);
    font-size: .8em;
}

body {
    font-family: 'NeueMachina';
}

/* this is the header styling */


.header-content {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cta {
    border-radius: 50px;
}

nav {
    display: flex;
    align-items: center;
    gap: 2em;
}

nav a {
    color: black;
    position: relative;
}

nav a::before {
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    border-radius: 6px;
    bottom: -0.4em;
    transition: all 0.5s ease;
}

nav a:hover::before {
    width: 100%;
}

/* this is the modal section */

main {
    display: flex;
    justify-content: center;
}

.modal-box {
    margin: 2em 0;
    width: 700px;
}

.modal-content,
.box {
    padding: 1em;
    box-shadow: 0 0 30px rgba(57, 57, 195, 0.061);
}

.box {
    border-radius: 10px;
}

.flip {
    padding: 1.5em 0;
    gap: 3em;
    justify-content: center;
}

/* this is the summary section styling */

.summary {
    padding: .2em 0;
    justify-content: space-between;
}

.summary-heading {
    padding: .5em 0;
}

.currencyex {
    gap: 1em;
    justify-content: center;
    padding: 2em 0;
}

.total {
    padding: 1em 0;
}

.total h3 {
    font-size: 1.3em;
    color: var(--primary-color);
}

.btns {
    gap: 2em;
    padding: 2em 0;
}

.secondary-btn {
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 6px;
    width: 30%;
}

.buynow {
    width: 70%;
    border-radius: 6px;
}